.clients {
  &__container {
  }

  &__title {
      font-weight: 700;
      font-size: rem(14);
      line-height: math.div(17 , 14);
      letter-spacing: 1px;
      color: #323264;
      margin-bottom: rem(30);
      text-align: center;
      text-transform: uppercase;
  }
  &__list{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      @media (min-width: 479px){
          grid-template-columns: repeat(2, 1fr);
      }
      @media (min-width: 768px){
          grid-template-columns: repeat(3, 1fr);
      }
      @media (min-width: 1024px){
          grid-template-columns: repeat(4, 1fr);
      }

  }
  &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 120px;
  }

  &__link {

  }

  &__logo {

  }
}
.bg-dark-blue {
  background-color: #1C4280;
}
.bg-dark-yankees {
  background-color: #143646;
}
.bg-cadmium-orange {
  background-color: #F48B30;
}
.bg-deep-lilac {
  background-color: #9E4DC3;
}
.bg-deep-saffron {
  background-color: #FD9339;
}
.bg-platinum {
  background-color: #E2E2E4;
}
.bg-cardinal {
  background-color: #C71C36;
}
.bg-water {
  background-color: #DCF3F9;
}
.bg-bright-gray {
  background-color: #EAEAEA;
}
.bg-yankees-blue {
  background-color: #282240;
}
.bg-indigo {
  background-color: #b0a8cf;
}
.bg-black {
  background-color: #000000;
}